.showstopper {
  width: 100%;
  height: auto;
  overflow: scroll;
  margin: 0;
  border: 1px solid #CCCCCC;
  padding: 20px;
}

.showstopper img {
  float: left;
  height: 195px;
  width: 195px;
}

.showstopper ul {
  margin: 0;
  float: left;
  width: 700px;
}

.showstopper h3 {
  color: #333333;
  font-size: 16px;
  font-face: Helvetica-Bold;
}

.showstopper span {
  color: #333333;
  opacity: 100%;
  font-size: 14px;
  font-face: Helvetica;
}

.cart {
  float: right;
  width: 300px;
}

.cart h2 {
  color: #333333;
  float: left;
  font-size: 22px;
  font-face: Helvetica-Bold;
}

.cart button  {
  display: block;
  color: #FFFFFF;
  font-size: 14px;
  font-face: Helvetica;
  margin-top: 10px;
  height: 44px;
  background-color: #338700;
  width: 100%;
}

@media(max-width: 400){
  .showstopper{
    float: left;
    display: block;
  }
  .showstopper img {
      margin: auto;
  }

  .showstopper ul, .cart {
    width: 100%;
    /*overflow: scroll;*/
  }

  .cart {
    width: 100%;
    float: left;
  }
}
