.showstopper {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: auto;
  border: 1px solid #CCCCCC;
  padding: 20px;
}

.showstopper img {
  float: left;
  height: 195px;
  width: 195px;
  margin: auto;
}

.showstopper ul {
  float: left;
  width: 600px;
}

.showstopper h3 {
  color: #333333;
  font-size: 16px;
  font-face: Helvetica-Bold;
}

.showstopper span {
  color: #333333;
  opacity: 100%;
  font-size: 14px;
  font-face: Helvetica;
}

.cart {
  float: right;
  width: 300px;
}

.cart h2 {
  color: #333333;
  font-size: 22px;
  font-face: Helvetica-Bold;
}

.cart button  {
  display: block;
  color: #FFFFFF;
  font-size: 14px;
  font-face: Helvetica;
  margin-top: 10px;
  height: 44px;
  background-color: #338700;
  width: 100%;
}
