.products {
    font-family: Helvetica;
}

ul.products {
  display: table;
  list-style: none;
  padding-top: 20px;
  width: 100%;
}

.products li {
  overflow: hidden;
  display: inline-block;
  position: relative;
  width: 160px;
  margin: 20px;
  padding: 20px;
  height: 310px;
  border: 1px solid #CCCCCC;
  color: #333333;
}

.products img {
  margin: auto;
  height: 100px;
  width: 100px;
}

.products li h3 {
  font-size: 14px;
  width: 160px;
  text-align: left;
  margin-top: 10px;
}

.products li button {
  display: block;
  color: #0471AF;
  font-size: 14px;
  border-color: 1px #CCCCCC;
  background-color: #FFFFFF;
  width: 100%;
  height: 44px;
  margin-top: 15px;
}

.products li label {
  text-align: left;
  margin-top: 10px;
  font-size: 16px;
  font-family: Helvetica-Bold;
}
