.products {
    font-family: Helvetica;
}

ul.products {
  display: table;
  list-style: none;
  padding-top: 20px;
  width: 100%;
}

.products li {
  overflow: hidden;
  display: inline-block;
  position: relative;
  width: 160px;
  margin: 20px;
  padding: 20px;
  height: 280px;
  border: 1px solid #CCCCCC;
  color: #333333;
}

.products img {
  margin: auto;
  height: 100px;
  width: 100px;
}

.products li h3 {
  font-size: 14px;
  width: 160px;
  text-align: center;
  margin: auto;
}

.products li button {
  display: block;
  color: #0471AF;
  font-size: 14px;
  border-color: 1px #CCCCCC;
  background-color: #FFFFFF;
  width: 100%;
  height: 44px;
  margin: auto;
}

.products li span {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  font-family: Helvetica-Bold;
  margin: auto;
}

.showstopper {
  width: 100%;
  padding: 20px;
  margin: 0;
}

.showstopper h2 {
  color: #333333 100%;
  font-size: 16px or rem/em equivalent;
  font-face: Helvetica-Bold;
}

.showstopper span {
  color: #333333 100%;
  opacity: 100%;
  font-size: 14px or rem/em equivalent;
  font-face: Helvetica;
}

.showstopper button {
  text-color: #FFFFFF 100%;
  font-size: 14px or rem/em equivalent;
  font-face: Helvetica;
  button fill: #338700;
}
